:root { 
	--primary-color: #686ed0;
	 --secondary-color: #434794; 
	 --font-color: #000;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	color: var(- -font-color);
	display: flex;
	justify-content: center;
	/*     height: 100vh;
 */
}

.container-fluid {
	width: 100%;
	height: 100vh;
	/*     max-width: 800px;
 */
	background-color: #fff;
	padding: 0;
	/*     border-radius: 10px;
 */
	/* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); */
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	/* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
	/*     overflow: hidden;
 */
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--secondary-color);
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	font-weight: 600;
	font-size: 40px;
}

#head-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#main-icon {
	font-size: 1em;
}

a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

#totalKRM, #totalKRMWt, #totalMinor, #totalMinorWt, #totalLocalMaj,
	#totalLocalMajWt, #grandTotal, #grandTotalWt {
	border: 2px solid #000;
}

.container-footer {
	background-color: var(--secondary-color);
	color: #fff;
	display: flex;
}

#form-buttons {
	margin-left: auto;
	padding: 0.75em 1em;
}

#form-buttons button {
	margin-left: 0.5em;
}

@media ( max-width :800px) {
	header {
		flex-direction: column;
	}
	#head-title {
		justify-content: center;
		align-items: center;
	}
	nav {
		display: flex;
		justify-content: space-between;
	}
	a {
		font-size: 12px;
	}
}

/* Mahak's CSS starts */
.form-control {
	background-color: #c2bafd7d;
	margin:2px;
}

.successfully-saved {
	display: none;
	color: #1B7C18;
	border-radius: 5px;
	border: 2px solid #1B7C18;
	padding: .5em .75em;
	background: #D6F8DD;
	width: 100%;
	margin-top: 20px;
}

successfully-saved:show {
	display: block;
}

.form-label {
	font-weight: bold;
}